extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | News is information about current events. 
        | <br /><br />
        | This may be provided through many different media: word of mouth, printing, postal systems, broadcasting, electronic communication, or through the testimony of observers and witnesses to events. 
        | <br /><br />
        | News is sometimes called "hard news" to differentiate it from soft media.
        | <br /><br />
        | News is that part of communication that keeps us informed of the changing events, issues, and characters in the world outside.
